# Fetching and parsing HTML
To start web scraping, you need to fetch the HTML content of a webpage and parse it using Beautiful Soup. Here's a step-by-step example:

In [16]:
# 用requests来获取网页信息
import requests

In [17]:
# 用BeautifulSoup来翻译获取的网页信息
from bs4 import BeautifulSoup

In [3]:
url = 'https://en.wikipedia.org/wiki/IBM'

In [12]:
# Send an HTTP GET request to the webpage
response = requests.get(url)

In [13]:
# response是一个类
print(type(response))

<class 'requests.models.Response'>

In [14]:
# Store the HTML content in a variable
html_content = response.text

In [15]:
# html_content是一个str变量，存储了网页的所有原始信息
print(type(html_content))

<class 'str'>

In [18]:
# Create a BeautifulSoup object to parse the HTML
soup = BeautifulSoup(html_content, 'html.parser')

In [19]:
# Display a snippet of the HTML content
print(html_content[:500])

<!DOCTYPE html>
<html class="client-nojs vector-feature-language-in-header-enabled vector-feature-language-in-main-page-header-disabled vector-feature-sticky-header-disabled vector-feature-page-tools-pinned-disabled vector-feature-toc-pinned-clientpref-1 vector-feature-main-menu-pinned-disabled vector-feature-limited-width-clientpref-1 vector-feature-limited-width-content-enabled vector-feature-custom-font-size-clientpref-1 vector-feature-appearance-pinned-clientpref-1 vector-feature-night-mode-

In [21]:
# soup是一个由BeautifulSoup生成的对象
print(type(soup))

<class 'bs4.BeautifulSoup'>

# Navigating the HTML structure
BeautifulSoup represents HTML content as a tree-like structure, allowing for easy navigation. You can use methods like *find_all* to filter and extract specific HTML elements. For example, to find all anchor tags() and print their text:

In [22]:
# Find all <a> tags (anchor tags) in the HTML
links = soup.find_all('a')
# Iterate through the list of links and print their text
for link in links:
    print(link.text)

Jump to content
Main page
Contents
Current events
Random article
About Wikipedia
Contact us
Help
Learn to edit
Community portal
Recent changes
Upload file








Search

Donate
Create account
Log in
Donate
 Create account
 Log in
learn more
Contributions
Talk

(Top)



1
History




1.1
1910s–1950s




1.2
1960s–1980s




1.3
1990s–2000s




1.4
2010s–present




2
Corporate affairs




2.1
Business trends




2.2
Board and shareholders




2.3
Headquarters and offices




3
Products




3.1
Hardware




3.1.1
Mainframe computers




3.1.2
Microprocessors




3.1.3
Quantum Computing




3.2
Software




3.3
Cloud services




3.4
Artificial intelligence




4
Consulting




5
Research




5.1
Patents




6
Brand and reputation




6.1
Environmental




7
People and culture




7.1
Employees




7.1.1
Notable current and former employees




7.2
Workplace culture




7.3
Labor relations




8
See also




9
Notes




10
References




11
Further reading




12
External links


Afrikaans
Alemannisch
العربية
Asturianu
Azərbaycanca
تۆرکجه
বাংলা
閩南語 / Bân-lâm-gú
Башҡортса
Беларуская
Беларуская (тарашкевіца)
Български
Bosanski
Català
Чӑвашла
Čeština
Dansk
Deutsch
Eesti
Ελληνικά
Español
Esperanto
Euskara
فارسی
Français
Gaeilge
Galego
Gĩkũyũ
한국어
Հայերեն
हिन्दी
Hrvatski
Ido
Bahasa Indonesia
Interlingue
Íslenska
Italiano
עברית
Jawa
ಕನ್ನಡ
ქართული
Қазақша
Kiswahili
Kurdî
Кыргызча
Latina
Latviešu
Lëtzebuergesch
Lietuvių
Magyar
मैथिली
Македонски
മലയാളം
मराठी
مصرى
Bahasa Melayu
Minangkabau
Монгол
Nederlands
नेपाली
日本語
Norsk bokmål
Norsk nynorsk
Occitan
ଓଡ଼ିଆ
Oʻzbekcha / ўзбекча
ਪੰਜਾਬੀ
پنجابی
Piemontèis
Polski
Português
Qaraqalpaqsha
Română
Runa Simi
Русский
Саха тыла
Scots
Shqip
සිංහල
Simple English
Slovenčina
Slovenščina
کوردی
Српски / srpski
Srpskohrvatski / српскохрватски
Suomi
Svenska
Tagalog
தமிழ்
Татарча / tatarça
తెలుగు
ไทย
Тоҷикӣ
Türkçe
Українська
اردو
Tiếng Việt
Winaray
吴语
ייִדיש
粵語
中文
Edit links
Article
Talk
Read
Edit
View history
Read
Edit
View history
What links here
Related changes
Upload file
Special pages
Permanent link
Page information
Cite this page
Get shortened URL
Download QR code
Download as PDF
Printable version
Wikimedia Commons
Wikinews
Wikiquote
Wikidata item
IBM (disambiguation)
Big Blue (disambiguation)

Paul Rand

Armonk, New York
Trade name
Computing-Tabulating-Recording Company
Public
Traded as
NYSE
IBM
DJIA
S&P 100
S&P 500
ISIN
ISIN
US4592001014
Information technology
Bundy Manufacturing Company
Computing Scale Company of America
International Time Recording Company
Tabulating Machine Company
Computing-Tabulating-Recording Company
Computing-Tabulating-Recording Company
Endicott, New York
[1]
George Winthrop Fairchild
Charles Ranlett Flint
Herman Hollerith
Armonk, New York
Arvind Krishna
chairman
CEO
[2]
[3]
Gary Cohn
vice chairman
[4]
Automation
Robotics
Artificial intelligence
Cloud computing
Consulting
Blockchain
Computer hardware
Software
Quantum computing
IBM Cloud
IBM Cognos Analytics
IBM Planning Analytics
SQL
Watson
Watsonx
Information Management Software
SPSS
ILOG
Tivoli Software
WebSphere
Mashup Center
PureQuery
Fortran
IBM Quantum Experience
Mainframe
Power Systems
IBM storage
IBM Q System One
Full List
Outsourcing
Professional services
Managed services
US$
Operating income
Net income
Total assets
Total equity
Subsidiaries
List of subsidiaries
ibm.com
[5]
trademark
[6]
multinational
technology company
Armonk, New York
[7]
[8]
publicly traded company
Dow Jones Industrial Average
[a]
[9]
[10]
U.S.
patents
Computing-Tabulating-Recording Company
holding company
punch-card tabulating systems
IBM mainframe
System/360
computing platform
[11]
microcomputer
IBM Personal Computer
DOS
Microsoft
personal computers
[12]
portable
ThinkPad
computer services
software
supercomputers
scientific research
Lenovo
consistently ranked
technological innovations
Automated Teller Machine  (ATM)
Dynamic Random-Access Memory (DRAM)
floppy disk
hard disk drive
magnetic stripe card
relational database
SQL programming language
Universal Product Code (UPC) barcode
computer chips
quantum computing
artificial intelligence
data infrastructure
[13]
[14]
[15]
Nobel Prizes
Turing Awards
[16]
edit
History of IBM
edit
[17]
[18]
Herman Hollerith
Electric Tabulating Machine
[19]
Willard Bundy
time clock
[20]
amalgamated
Charles Ranlett Flint
Computing-Tabulating-Recording Company
[1]
[21]
Binghamton
Dayton, Ohio
Detroit, Michigan
Washington, D.C.
Toronto
[22]
Thomas J. Watson, Sr.
National Cash Register Company
John Henry Patterson
[23]
antitrust
[24]
[23]
[25]
[26]
THINK
[25]
[25]
[27]
[28]
[29]

NACA
IBM type 704
Nazis
Dehomag
Holocaust
[30]
[31]
M1 Carbine
Automatic Sequence Controlled Calculator
IBM 701
IBM 305 RAMAC
7000
1400
1400
artificial intelligence
Arthur L. Samuel
Poughkeepsie
IBM 704
FORTRAN
edit
SABRE reservation system
American Airlines
Selectric
Mercury
Armonk, New York
Gemini
Saturn V's
Apollo

IBM System/360
University of Michigan

Saturn V Instrument Unit
IBM System/360
IBM System/370
IBM mainframe
mainframe computer
OS/VS1
MVS
CICS
[32]
Sherman Antitrust Act
[33]
Forrest Parry
magnetic stripe card
George J. Laurer
Universal Product Code
[34]
World Bank
financial swaps
[35]
microcomputer
IBM Personal Computer
PC
[36]
[37]
intellectual property
Microsoft
operating system
OS/2
Windows
edit
[38]
DEC
Hewlett-Packard
Unisys
AT&T
Apple
Sun Microsystems
Compaq
Amdahl
Dell
[39]
[40]
AdStar
Lexmark
[41]
Clayton & Dubilier
leveraged buyout
[42]
[43]
[44]
[45]
[46]
Ambra Computer Corporation
clone
PowerPC
workstations
[47]
[48]
ThinkPad
notebook computers
[49]
[50]
Lou Gerstner
RJR Nabisco
[51]
Lotus Software
Lotus 1-2-3
[52]
Workplace OS

hard-disk drive
DRAM
UPC bar code
magnetic stripe card
[53]
Compaq
Dell
[54]
[55]
PwC
IBM Global Services
[56]
[57]
LG
South Korean
[58]
[59]
[60]
[61]
Xnote
[62]
commodity production
sold all of its personal computer business
Lenovo
[63]
SPSS Inc.
Blue Gene
National Medal of Technology and Innovation
Barack Obama
edit
Watson
Jeopardy!
Kenexa
[64]
web hosting service
[65]
Davao City
[66]
x86
[67]
Power ISA
[68]
Apple Inc.
[69]
[70]
[71]
[72]
Tencent
[73]
Cisco
[74]
UnderArmour
[75]
Box
[76]
Microsoft
[77]
VMware
[78]
CSC
[79]
Macy's
[80]
Sesame Workshop
[81]
Sesame Street
Salesforce.com
[82]
fabless
semiconductors
GlobalFoundries
[83]
[84]
Cleversafe
The Weather Company
Weather.com
The Weather Channel
[85]
[86]
A Boy and His Atom
Ustream
[87]
[88]
[89]
Groupon
[90]
The Weather Company
[91]
Red Hat
[92]
[93]
[94]
[95]
John Kelly III
Brad Smith
Microsoft
Vatican
Artificial Intelligence (AI)
[96]
[97]
Kyndryl
[98]
[99]
[100]
[101]
[102]
[103]
[104]
[105]
Turbonomic
[106]
Watson Health
Francisco Partners
[107]
Russian invasion of Ukraine
[108]
[109]
Rapidus
[110]
[111]
[112]
[113]
[114]
Software AG
webMethods
[115]
edit
edit
[116]
[117]
largest overall company by revenue in the United States
Fortune 500
[118]
[119]
[120]
[121]
[122]
[123]
[b]
edit
List of IBM CEOs
Anthem
Dow Chemical
Johnson and Johnson
Royal Dutch Shell
UPS
Vanguard
Cornell University
U.S. Navy admiral
[124]
[125]
Warren Buffett
holding company
Berkshire Hathaway
[126]
[127]
edit
List of IBM facilities

Armonk, New York
[128]
[129]
[130]
[131]
[132]
[update]
[2]
IBM Watson
Astor Place
Austin, Texas
Research Triangle Park (Raleigh-Durham), North Carolina
Rochester, Minnesota
Silicon Valley, California
1250 René-Lévesque
One Atlantic Center
Pangu Plaza
[133]
Beijing National Stadium ("Bird's Nest")
2008 Summer Olympics
IBM India Private Limited
Bangalore
Coimbatore
Chennai
Kochi
Ahmedabad
Delhi
Kolkata
Mumbai
Pune
Gurugram
Noida
Bhubaneshwar
Surat
Visakhapatnam
Hyderabad
Bangalore
Jamshedpur
IBM Rome Software Lab
Hursley House
330 North Wabash
Cambridge Scientific Center
IBM Toronto Software Lab
IBM Building (Seattle)
IBM Hakozaki Facility
IBM Yamato Facility
IBM Canada Head Office Building
[134]
IBM Somers Office Complex
Spango Valley
Tour Descartes
Marcel Breuer
Eero Saarinen
Ludwig Mies van der Rohe
I.M. Pei
Ricardo Legorreta
Honor Award
National Building Museum
[135]
edit
List of IBM products

Blue Gene
National Medal of Technology and Innovation
[update]
cloud computing
commerce
data
analytics
Internet of things
[136]
IT infrastructure
mobile
[137]
cybersecurity
[138]
edit
edit
mainframe computers
IBM z
IBM z16
edit
Power microprocessors
Xbox 360
[139]
PlayStation 3
Nintendo
Wii U
[140]
[141]
Secure Blue
[142]
TrueNorth
neuromorphic
CMOS
integrated circuit
[143]
all-flash arrays
[144]
edit

IBM Q System One
IBM Q System One
[145]
Ehningen, Germany
Fraunhofer Society
[146]
[147]
edit
SPSS
statistical analysis
social sciences
[148]
The Weather Company
weather.com
Weather Underground
[149]
edit
IBM Cloud
infrastructure as a service
software as a service
platform as a service
cloud delivery models
Bluemix
SoftLayer
dedicated server
managed hosting
cloud computing
[150]
cryptographic splitting
[151]
Amazon Web Services
[152]
edit
IBM Watson
natural language processing
unstructured data
[153]
Jeopardy!
Ken Jennings
Brad Rutter
Memorial Sloan Kettering Cancer Center
oncology
melanoma
[154]
[155]
New York City Police Department
IBM Cognos Analytics
CompStat
[156]
[157]
[158]
Watsonx
Generative AI
Granite
LLMs
fine tuning
[159]
open-sourced
Hugging Face
[160]
[161]
edit
IBM Consulting

adding to it
management consulting
systems integration
[162]
[163]
edit

Thomas J. Watson Research Center
Yorktown Heights, New York

IBM Fellow
Benoit Mandelbrot
fractal geometry
Columbia University
IBM Research
[164]
Thomas J. Watson Research Center
Almaden lab
Australia lab
Brazil lab
Haifa lab
Bangalore
Tokyo lab
Zurichlab
Nairobi
R&D
[165]
Watson
[166]
Open Source Initiative
Linux
[167]
Linux Technology Center
Linux kernel
[168]
open-source licenses
platform-independent
software framework
Eclipse
[169]
ICU
Java
relational database management system
Apache Derby
open source
SCO v. IBM
inventions
automated teller machine (ATM)
Dynamic Random Access Memory (DRAM)
electronic keypunch
financial swap
floppy disk
hard disk drive
magnetic stripe card
relational database
RISC
SABRE airline reservation system
SQL
Universal Product Code (UPC)
virtual machine
scanning tunneling microscope
individual xenon atoms
[170]
patents
patents
[171]
edit
U.S.
patents
[171]
[172]
[173]
[11]
[174]
patent troll
[175]
[176]
[177]
edit

John F. Kennedy International Airport
[178]
[179]
dress code
[178]
[180]
graphic designer
Paul Rand
[181]
Helvetica
IBM Plex
Masters Tournament
major championships
iPhone
[182]
Ginni Rometty
Augusta National Golf Club
[183]
U.S. Open
Wimbledon
[184]
Olympic Games
[185]
National Football League
[186]
American football
X-League
Big Blue
[187]
edit
Endicott, New York
[188]
[189]
CO2e emissions
[190]
[191]
edit
edit


IBM Watson
Jeopardy!
world's largest employers
[192]
tech consultants
[163]
Extreme Blue
IBM Fellow
[193]
edit
Apple Inc.
Tim Cook
[194]
EDS
Ross Perot
Microsoft
John W. Thompson
SAP
Hasso Plattner
Gartner
Gideon Gartner
Advanced Micro Devices (AMD)
Lisa Su
[195]
Cadence Design Systems
Anirudh Devgan
[196]
Citizens Financial Group
Ellen Alemany
Yahoo!
Alfred Amoroso
AT&T
C. Michael Armstrong
Xerox Corporation
David T. Kearns
G. Richard Thoman
[197]
Fair Isaac Corporation
Mark N. Greene
[198]
Citrix Systems
Ed Iacobucci
ASOS.com
Lenovo
Steve Ward
Teradata
Kenneth Simonds
Patricia Roberts Harris
United States Secretary of Housing and Urban Development
African American
woman
United States Cabinet
[199]
Samuel K. Skinner
U.S. Secretary of Transportation
White House Chief of Staff
U.S. Senators
Mack Mattingly
Thom Tillis
Wisconsin
Scott Walker
[200]
U.S. Ambassadors
Vincent Obsitnik
Slovakia
Arthur K. Watson
France
Thomas Watson Jr.
Soviet Union
U.S. Representatives
Todd Akin
[201]
Glenn Andrews
Robert Garcia
Katherine Harris
[202]
Amo Houghton
Jim Ross Lightfoot
Thomas J. Manton
Donald W. Riegle Jr.
Ed Zschau
NASA
Michael J. Massimino
Canadian astronaut
Governor General
Julie Payette
Dave Matthews
[203]
Harvey Mudd College
Maria Klawe
Western Governors University
Robert Mendenhall
University of Kentucky
Lee T. Todd Jr.
University of Iowa
Bruce Harreld
NFL
Bill Carollo
[204]
Rangers F.C.
John McClelland
Nobel Prize in Literature
J. M. Coetzee
Thomas Watson Jr.
11th national president
Boy Scouts of America
Leo Esaki
Gerd Binnig
Heinrich Rohrer
scanning tunneling microscope
[205]
Georg Bednorz
Alex Müller
superconductivity
Turing Award
Frances E. Allen
[206]
National Medals of Technology (USA)
National Medals of Science (USA)
edit
[207]
Louis V. Gerstner Jr.
[208]
[209]
[210]
[211]
edit
IBM and unions
[212]
[213]
edit
List of electronics brands
List of largest Internet companies
List of largest manufacturing companies by revenue
Tech companies in the New York City metropolitan region
Top 100 US Federal Contractors
Quantum Energy Teleportation
edit
^
^
Kyndryl
edit
a
b
Appendix to Hearings Before the Committee on Patents, House of Representatives, Seventy-Fourth Congress, on H. R. 4523, Part III
archived
a
b
"IBM Is Blowing Up Its Annual Performance Review"
Archived
^
"IBM – Arvind Krishna – Chief Executive Officer"
Archived
^
"IBM Newsroom - Gary Cohn"
^
"US SEC: Form 10-K IBM"
U.S. Securities and Exchange Commission
^
"IBM100 - The Making of International Business Machines"
the original
^
"Trust and responsibility. Earned and practiced daily"
^
"10-K"
Archived
^
"Dow Jones Industrial Average"
^
"IBM Overview"
a
b
"IBM | Founding, History, & Products | Britannica"
^
"Aug. 12, 1981: IBM Gets Personal With 5150 PC"
ISSN
1059-1028
^
"IBM unveils new quantum computing chip to 'explore new frontiers of science'"
ISSN
0261-3077
^
"The Evolution Of AI: From IBM And AWS To OpenAI and Anthropic"
^
"IBM Realigns Its Storage Business To Match Data-Driven Enterprise Needs"
^
"About us"
^
Images of America: IBM in Endicott
Arcadia Publishing
ISBN
0-7385-3700-4
Archived
^
"Dey dial recorder, early 20th century"
Archived
^
"Hollerith 1890 Census Tabulator"
Columbia University
Archived
^
"Employee Punch Clocks"
the original
^
"Tabulating Concerns Unite: Flint & Co. Bring Four Together with $19,000,000 capital"
Archived
^
"The origins of IBM | IBM"
a
b
The Lengthening Shadow: The Life of Thomas J. Watson
89–93
^
ISBN
978-1-000-87875-2
a
b
c
"Chronological History of IBM, 1910s"
the original
^
Wherever Men Trade: The Romance of the Cash Register
ISBN
978-0-405-04713-8
OCLC
243101
^
^
"Made in the USA: American tech inventions"
^
^
IBM and the Holocaust: The Strategic Alliance Between Nazi Germany and America's Most Powerful Corporation
ISBN
978-0-914153-10-8
^
ISBN
978-1-4594-0987-3
^
Campbell-Kelly, Martin
MIT Press
^
"Monopolization: Corporate Strategy, the IBM Cases, and the Transformation of the Law"
Texas Law Review
Archived
^
"The history of the UPC bar code and how the bar code symbol and system became a world standard"
Archived
^
McGraw Hill
^
ISBN
0-470-86412-5
^
"Origin of the IBM PC | Low End Mac"
^
"Industry & Trade Summary - Computers, Peripherals, and Computer Components"
^
"'Break Up IBM,' Cry Some Investors Who See Value in Those Baby Blues"
^
"Big Blue still breaking up its bureaucracy"
^
"Facts, Figures on IBM's 13 Decentralized Firms"
^
"The Executive Computer; Can I.B.M. Learn From a Unit It Freed?"
^
"IBM Plans Division For Its PC Business; One Executive Expected to Be Put in Control"
the original
^
"With New Approach and Executive Team, IBM Seeks a Rebirth"
the original
^
"IBM to Unveil New Structure of PC Business"
^
"IBM reports record loss of $8 billion"
^
"I.B.M. and Dell Stake Out the Little Picture in PC's"
the original
^
"IBM Power Personal Systems group to be folded into PC Co"
^
"ThinkPad | IBM"
^
"Life science: Fade or flourish ?"
the original
^
"IBM Archives: Louis V. Gerstner, Jr"
Archived
^
"IBM wins Lotus as offer is raised above $3.5 billion"
^
"Not Your Father's PC Company Anymore"
^
"The Strategy For I.B.M.: Loss-Leader PC Sales"
ISSN
0362-4331
^
"Big Blue to combine PC division with PSG"
^
"IBM to acquire PwC Consulting for $3.5 billion"
^
"IBM grabs consulting giant for $3.5 billion"
^
"IBM, LG Electronics Call Halt To PC Joint Venture in Korea"
The Wall Street Journal
ISSN
0099-9660
^
"LG, IBM to split by end of year"
Korea JoongAng Daily
^
"IBM, LG Electronics to End Joint Venture"
Forbes
the original
^
Vance, Ashlee
"South Korea slams IBM with server slush fund charges"
^
"Laptop Retrospective"
^
"Lenovo Completes Acquisition Of IBM's Personal Computing Division"
the original
^
"IBM Plans to Acquire Texas Memory Systems"
the original
^
"IBM to buy website hosting service SoftLayer"
Archived
^
"Inside the Video Surveillance Program IBM Built for Philippine Strongman Rodrigo Duterte"
Archived
^
"Lenovo says $2.1 billion IBM x86 server deal to close on Wednesday"
Archived
^
"Lenovo finalises acquisition of IBM's x86 server business"
^
"Apple + IBM"
Archived
^
"Apple Teams Up With IBM For Huge, Expansive Enterprise Push"
Archived
^
"Landmark IBM Twitter partnership to help businesses make decisions"
Archived
^
"IBM Announces Marketing Partnership With Facebook"
Archived
^
"Tencent teams up with IBM to offer business software over the cloud"
Archived
^
"Cisco and IBM's New Partnership Is a Lot About Talk"
Archived
^
"IBM, Under Armour Team Up To Bring Cognitive Computing To Fitness Apps"
Archived
^
"IBM, Box Cloud Partnership: What It Means"
Archived
^
"Microsoft just made a deal with IBM – and Apple should be nervous"
Archived
^
"VMware and SugarCRM expand partnerships with IBM, make services available on IBM Cloud"
Archived
^
"IBM, CSC Expand Their Cloud Deal to the Mainframe"
^
"Macy's Taps IBM, Satisfi for In-Store Shopping Companion"
^
"Sesame Workshop, IBM partner to use Watson for preschoolers"
Archived
^
"IBM, Salesforce Strike Global Partnership on Cloud, AI"
Archived
^
"GlobalFoundries completes IBM chip acquisition | bit-tech.net"
^
"IBM Buys Merge Healthcare to Boost Watson Health Cloud"
Archived
^
"IBM Agrees to Acquire Weather Channel's Digital Assets"
Archived
^
"IBM to Acquire the Weather Company"
Archived
^
"IBM acquires Ustream, launches cloud video unit"
Archived
^
"IBM Acquires Ustream: Behind the Acquisition"
Archived
^
"Big Blue isn't so big anymore"
Archived
^
"Groupon sues 'once-great' IBM over patent"
Archived
^
"IBM Buys Digital Part of The Weather Company"
Archived
^
"IBM to Acquire Red Hat for About $33 Billion"
The Wall Street Journal
ISSN
0099-9660
Archived
^
"IBM to Acquire Linux Distributor Red Hat for $33.4 Billion"
Archived
^
"IBM to acquire Red Hat, completely changing the cloud landscape and becoming world's #1 hybrid cloud provider"
Archived
^
"IBM Closes Landmark Acquisition of Red Hat for $34 Billion; Defines Open, Hybrid Cloud Future"
Archived
^
"Cisco Systems joins Microsoft, IBM in Vatican pledge to ensure ethical use and development of AI"
The Associated Press
^
"IBM To Accelerate Hybrid Cloud Growth Strategy And Execute Spin-Off Of Market-Leading Managed Infrastructure Services Unit"
Archived
^
"IBM to break up 109-year old company to focus on cloud growth"
Archived
^
"IBM spins off a quarter of the company to focus on the cloud"
Archived
^
"IBM shares rise on plans to spin off its IT infrastructure unit and focus on the cloud business"
Archived
^
"IBM to Spin Off Services Unit to Accelerate Cloud-Computing Pivot"
Archived
^
"IBM Splits Into Two Companies"
Archived
^
"IBM Spinning Off Infrastructure Managed Services Group To Focus On Cloud Is A Good Move"
Archived
^
"IBM names Martin Schroeter as CEO of $19B NewCo services spinoff"
Archived
^
"IBM names former financial chief Martin Schroeter as head of new IT infrastructure services company"
The Economic Times
Reuters
Archived
^
"IBM to Acquire Software Provider Turbonomic for Over $1.5 Billion"
Archived
^
"IBM sells Watson Health assets to investment firm Francisco Partners"
ZDNet
Archived
^
"Update on Our Actions: War in Ukraine"
^
"IBM finally shutters Russian operations, lays off staff"
^
"IBM and Rapidus Form Strategic Partnership to Build Advanced Semiconductor Technology and Ecosystem in Japan"
^

In [23]:
import pandas as pd

In [25]:
tables = pd.read_html(url)

In [26]:
print(type(tables))

<class 'list'>

In [29]:
print(tables)

[                                       0  \
0        1972–current logo, by Paul Rand
1   IBM CHQ in Armonk, New York, in 2014
2                             Trade name
3                               Formerly
4                           Company type
5                              Traded as
6                                   ISIN
7                               Industry
8                           Predecessors
9                                Founded
10                              Founders
11                          Headquarters
12                           Area served
13                            Key people
14                              Products
15                                Brands
16                              Services
17                               Revenue
18                      Operating income
19                            Net income
20                          Total assets
21                          Total equity
22                   Number of employees
23                          Subsidiaries
24                               Website
25            Footnotes / references [5]

                                                    1
0                     1972–current logo, by Paul Rand
1                IBM CHQ in Armonk, New York, in 2014
2                                                 IBM
3   Computing-Tabulating-Recording Company (1911–1...
4                                              Public
5   NYSE: IBMDJIA componentS&P 100 componentS&P 50...
6                                  ISIN: US4592001014
7                              Information technology
8   Bundy Manufacturing Company Computing Scale Co...
9   June 16, 1911; 113 years ago (as Computing-Tab...
10  George Winthrop Fairchild Charles Ranlett Flin...
11    1 Orchard Road, Armonk, New York, United States
12                                      177 countries
13  Arvind Krishna (chairman & CEO)[2][3]Gary Cohn...
14  Automation Robotics Artificial intelligence Cl...
15  IBM CloudIBM Cognos AnalyticsIBM Planning Anal...
16   OutsourcingProfessional servicesManaged services
17                           US$61.860 billion (2023)
18                            US$8.690 billion (2023)
19                            US$7.502 billion (2023)
20                          US$135.241 billion (2023)
21                           US$22.613 billion (2023)
22                            282,200 (December 2023)
23                               List of subsidiaries
24                                            ibm.com
25                         Footnotes / references [5]  ,             Company    1989    1992
0               IBM  372297  303764
1               DEC  125900  102100
2   Hewlett-Packard   52640   65118
3            Unisys   82300   54300
4              AT&T   63000   52000
5             Apple   14550   14900
6  Sun Microsystems   10859   12900
7            Compaq    9600    9400
8            Amdahl    8200    8764
9              Dell    1554    4300,       Year  Revenue (US$ bn)  Net income (US$ bn)  Employees
0     2014              92.7                 12.0     379592
1     2015              81.7                 13.1     377757
2     2016              79.9                 11.8     380300
3     2017              79.1                  5.7     366600
4     2018              79.5                  8.7     350600
5     2019              77.1                  9.4     352600
6     2020              73.6                  5.5     345900
7  2021[b]              57.3                  5.7     282100
8     2022              60.5                  1.6     288300
9     2023              61.8                  7.5     282200,     0                                                  1
0 NaN  This section needs expansion. You can help by ...,                                                vteIBM  \
0                                             History
1                                            Products
2                                            Hardware
3                                             Current
4                                              Former
5                                               Other
6                                   Business entities
7                                             Current
8                                              Former
9                                          Facilities
10                                        Initiatives
11                                         Inventions
12                                        Terminology
13                                               CEOs
14                                 Board of directors
15                                              Other
16  Category  Commons  Navigational boxes FOSS Mid...

                                             vteIBM.1
0   History Mergers and acquisitions PC business a...
1   HardwareCurrent Mainframe IBM Z Power micropro...
2   Current Mainframe IBM Z Power microprocessors ...
3   Mainframe IBM Z Power microprocessors Power Sy...
4   Blue Gene Cell microprocessors PowerPC Midrang...
5   Carbon Design System Cloud Cloudant Cognos Ana...
6   Current Apptio Center for The Business of Gove...
7   Apptio Center for The Business of Government C...
8   AdStar AIM alliance Kaleida Labs Taligent Ambr...
9   Towers 1250 René-Lévesque, Montreal, QC One At...
10  Academy of Technology Deep Thunder Develothon ...
11  Automated teller machine Cynefin framework DRA...
12  Big Blue Commercial Processing Workload Custom...
13  Thomas J. Watson (1914–1956) Thomas Watson Jr....
14  Thomas Buberl David Farr Alex Gorsky Michelle ...
15  A Boy and His Atom Big Blue sports teams Ameri...
16  Category  Commons  Navigational boxes FOSS Mid...  ,           0                                                  1
0  Hardware  Current Mainframe IBM Z Power microprocessors ...
1   Current  Mainframe IBM Z Power microprocessors Power Sy...
2    Former  Blue Gene Cell microprocessors PowerPC Midrang...
3     Other  Carbon Design System Cloud Cloudant Cognos Ana...,          0                                                  1
0  Current  Mainframe IBM Z Power microprocessors Power Sy...
1   Former  Blue Gene Cell microprocessors PowerPC Midrang...,          0                                                  1
0  Current  Apptio Center for The Business of Government C...
1   Former  AdStar AIM alliance Kaleida Labs Taligent Ambr...,                             Links to related articles  \
0   vteComponents of the Dow Jones Industrial Aver...
1   vteComponents of the Dow Jones Industrial Average
2   3M Amazon American Express Amgen Apple Boeing ...
3   vteMajor personal computer, server, and mainfr...
4   Companies with an annual revenue of over US$3 ...
5                      Personal computers and servers
6                                        Servers only
7                                          Mainframes
8   See also Largest IT companies Computer hardwar...
9              vteMajor information storage companies
10  Companies with an annual revenue of over US$3 ...
11  ADATA Amazon Apple Dell Dell EMC Fujitsu Googl...
12                        vteMajor software companies
13  Companies with annual software revenue of over...
14  Adobe Amadeus IT Group Amazon Apple Autodesk C...
15  See also Largest IT companies Largest software...
16       vteElectronics industry in the United States
17                                          Companies
18                                    Home appliances
19                              Electronic components
20                              Semiconductor devices
21                                     Mobile devices
22                                              Other
23                                            Defunct

                          Links to related articles.1
0   vteComponents of the Dow Jones Industrial Aver...
1   vteComponents of the Dow Jones Industrial Average
2   3M Amazon American Express Amgen Apple Boeing ...
3   vteMajor personal computer, server, and mainfr...
4   Companies with an annual revenue of over US$3 ...
5   Acer Apple Asus Dell Fujitsu Huawei HP Lenovo ...
6         Cisco Dell EMC HPE IBM Inspur NetApp Oracle
7                                     Fujitsu HPE IBM
8   See also Largest IT companies Computer hardwar...
9              vteMajor information storage companies
10  Companies with an annual revenue of over US$3 ...
11  ADATA Amazon Apple Dell Dell EMC Fujitsu Googl...
12                        vteMajor software companies
13  Companies with annual software revenue of over...
14  Adobe Amadeus IT Group Amazon Apple Autodesk C...
15  See also Largest IT companies Largest software...
16       vteElectronics industry in the United States
17  Home appliances Apple Bose Cisco Corsair Dell ...
18  Apple Bose Cisco Corsair Dell Dolby Laboratori...
19  3M Achronix Analog Devices Maxim Integrated Ap...
20  AMD Ampere Computing Apple Broadcom Cypress Se...
21        Apple BLU Google Lenovo (Motorola Mobility)
22  Cadence Design Systems Cray GE RCA Oracle Corp...
23  Actel Atari Corporation Commodore Compaq Fairc...  ,    vteComponents of the Dow Jones Industrial Average  \
0  3M Amazon American Express Amgen Apple Boeing ...

  vteComponents of the Dow Jones Industrial Average.1
0  3M Amazon American Express Amgen Apple Boeing ...   ,   vteMajor personal computer, server, and mainframe hardware companies  \
0  Companies with an annual revenue of over US$3 ...
1                     Personal computers and servers
2                                       Servers only
3                                         Mainframes
4  See also Largest IT companies Computer hardwar...

  vteMajor personal computer, server, and mainframe hardware companies.1
0  Companies with an annual revenue of over US$3 ...
1  Acer Apple Asus Dell Fujitsu Huawei HP Lenovo ...
2        Cisco Dell EMC HPE IBM Inspur NetApp Oracle
3                                    Fujitsu HPE IBM
4  See also Largest IT companies Computer hardwar...                      ,               0                                            1
0  Servers only  Cisco Dell EMC HPE IBM Inspur NetApp Oracle,               vteMajor information storage companies  \
0  Companies with an annual revenue of over US$3 ...
1  ADATA Amazon Apple Dell Dell EMC Fujitsu Googl...

            vteMajor information storage companies.1
0  Companies with an annual revenue of over US$3 ...
1  ADATA Amazon Apple Dell Dell EMC Fujitsu Googl...  ,                          vteMajor software companies  \
0  Companies with annual software revenue of over...
1  Adobe Amadeus IT Group Amazon Apple Autodesk C...
2  See also Largest IT companies Largest software...

                       vteMajor software companies.1
0  Companies with annual software revenue of over...
1  Adobe Amadeus IT Group Amazon Apple Autodesk C...
2  See also Largest IT companies Largest software...  ,   vteElectronics industry in the United States  \
0                                    Companies
1                              Home appliances
2                        Electronic components
3                        Semiconductor devices
4                               Mobile devices
5                                        Other
6                                      Defunct

      vteElectronics industry in the United States.1
0  Home appliances Apple Bose Cisco Corsair Dell ...
1  Apple Bose Cisco Corsair Dell Dolby Laboratori...
2  3M Achronix Analog Devices Maxim Integrated Ap...
3  AMD Ampere Computing Apple Broadcom Cypress Se...
4        Apple BLU Google Lenovo (Motorola Mobility)
5  Cadence Design Systems Cray GE RCA Oracle Corp...
6  Actel Atari Corporation Commodore Compaq Fairc...  ,                        0                                                  1
0        Home appliances  Apple Bose Cisco Corsair Dell Dolby Laboratori...
1  Electronic components  3M Achronix Analog Devices Maxim Integrated Ap...
2  Semiconductor devices  AMD Ampere Computing Apple Broadcom Cypress Se...
3         Mobile devices        Apple BLU Google Lenovo (Motorola Mobility)
4                  Other  Cadence Design Systems Cray GE RCA Oracle Corp...,   Authority control databases  \
0               International
1                    National
2                   Academics
3                     Artists
4                      People
5                       Other

                       Authority control databases.1
0                                           ISNIVIAF
1  GermanyUnited StatesFranceBnF dataJapanAustral...
2                                              CiNii
3               ULANMusicBrainzMuseum of Modern Art2
4                                              Trove
5                                          IdRefSNAC  ]

In [44]:
df = tables[2]
print(df)

      Year  Revenue (US$ bn)  Net income (US$ bn)  Employees
0     2014              92.7                 12.0     379592
1     2015              81.7                 13.1     377757
2     2016              79.9                 11.8     380300
3     2017              79.1                  5.7     366600
4     2018              79.5                  8.7     350600
5     2019              77.1                  9.4     352600
6     2020              73.6                  5.5     345900
7  2021[b]              57.3                  5.7     282100
8     2022              60.5                  1.6     288300
9     2023              61.8                  7.5     282200

In [48]:
df.columns = [['Year', 'Revenue($bn)', 'Net_Income($bn)', 'Employees']]

In [50]:
df.iloc[7, 0] = 2021
df

   Year Revenue($bn) Net_Income($bn) Employees
0  2014         92.7            12.0    379592
1  2015         81.7            13.1    377757
2  2016         79.9            11.8    380300
3  2017         79.1             5.7    366600
4  2018         79.5             8.7    350600
5  2019         77.1             9.4    352600
6  2020         73.6             5.5    345900
7  2021         57.3             5.7    282100
8  2022         60.5             1.6    288300
9  2023         61.8             7.5    282200

In [52]:
df

   Year Revenue($bn) Net_Income($bn) Employees
0  2014         92.7            12.0    379592
1  2015         81.7            13.1    377757
2  2016         79.9            11.8    380300
3  2017         79.1             5.7    366600
4  2018         79.5             8.7    350600
5  2019         77.1             9.4    352600
6  2020         73.6             5.5    345900
7  2021         57.3             5.7    282100
8  2022         60.5             1.6    288300
9  2023         61.8             7.5    282200

In [78]:
df['Cost($bn)'] = df['Revenue($bn)'] - df['Net_Income($bn)']
# 由于df['Revenue($bn)']是一个DataFrame数据，无法直接用于运算，需要转换成Series，使用squeeze()方法

ValueError: Cannot set a DataFrame with multiple columns to the single column Cost($bn)

In [76]:
df['Costs'] = df['Revenue($bn)'].squeeze() - df['Net_Income($bn)'].squeeze()

In [77]:
df

   Year Revenue($bn) Net_Income($bn) Employees Costs
0  2014         92.7            12.0    379592  80.7
1  2015         81.7            13.1    377757  68.6
2  2016         79.9            11.8    380300  68.1
3  2017         79.1             5.7    366600  73.4
4  2018         79.5             8.7    350600  70.8
5  2019         77.1             9.4    352600  67.7
6  2020         73.6             5.5    345900  68.1
7  2021         57.3             5.7    282100  51.6
8  2022         60.5             1.6    288300  58.9
9  2023         61.8             7.5    282200  54.3

In [80]:
df = df[['Year', 'Revenue($bn)', 'Net_Income($bn)', 'Costs', 'Employees']]

In [81]:
df

   Year Revenue($bn) Net_Income($bn) Costs Employees
0  2014         92.7            12.0  80.7    379592
1  2015         81.7            13.1  68.6    377757
2  2016         79.9            11.8  68.1    380300
3  2017         79.1             5.7  73.4    366600
4  2018         79.5             8.7  70.8    350600
5  2019         77.1             9.4  67.7    352600
6  2020         73.6             5.5  68.1    345900
7  2021         57.3             5.7  51.6    282100
8  2022         60.5             1.6  58.9    288300
9  2023         61.8             7.5  54.3    282200

In [88]:
df['Costs/Empee($k)'] = df['Costs'].squeeze() / df['Employees'].squeeze() * pow(10, 6)

/var/folders/rp/cc1qy8yj1qs4wb9pgxtgqxh40000gn/T/ipykernel_49545/523824219.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Costs/Empee($k)'] = df['Costs'].squeeze() / df['Employees'].squeeze() * pow(10, 6)

In [91]:
df.drop(columns=['Costs/Empee'])

/var/folders/rp/cc1qy8yj1qs4wb9pgxtgqxh40000gn/T/ipykernel_49545/218458867.py:1: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  df.drop(columns=['Costs/Empee'])

   Year Revenue($bn) Net_Income($bn) Costs Employees Costs/Empee($k)
0  2014         92.7            12.0  80.7    379592      212.596683
1  2015         81.7            13.1  68.6    377757      181.598223
2  2016         79.9            11.8  68.1    380300      179.069156
3  2017         79.1             5.7  73.4    366600      200.218221
4  2018         79.5             8.7  70.8    350600      201.939532
5  2019         77.1             9.4  67.7    352600      192.002269
6  2020         73.6             5.5  68.1    345900      196.877710
7  2021         57.3             5.7  51.6    282100      182.913860
8  2022         60.5             1.6  58.9    288300      204.301075
9  2023         61.8             7.5  54.3    282200      192.416726

In [96]:
df['Revenue/Empee'] = df.loc[:,'Revenue($bn)'].squeeze() / df.loc[:,'Employees'].squeeze() * pow(10, 6)

/var/folders/rp/cc1qy8yj1qs4wb9pgxtgqxh40000gn/T/ipykernel_49545/1820220231.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Revenue/Empee'] = df.loc[:,'Revenue($bn)'].squeeze() / df.loc[:,'Employees'].squeeze() * pow(10, 6)

In [97]:
df

,Year,Revenue($bn),Net_Income($bn),Costs,Employees,Costs/Empee,Costs/Empee($k),Net_Incm/Empee,Revenue/Empee
0,2014,92.7,12.0,80.7,379592,0.000213,212.596683,244.209572,244.209572
1,2015,81.7,13.1,68.6,377757,0.000182,181.598223,216.276601,216.276601
2,2016,79.9,11.8,68.1,380300,0.000179,179.069156,210.097292,210.097292
3,2017,79.1,5.7,73.4,366600,0.000200,200.218221,215.766503,215.766503
4,2018,79.5,8.7,70.8,350600,0.000202,201.939532,226.754136,226.754136
5,2019,77.1,9.4,67.7,352600,0.000192,192.002269,218.661373,218.661373
6,2020,73.6,5.5,68.1,345900,0.000197,196.877710,212.778260,212.778260
7,2021,57.3,5.7,51.6,282100,0.000183,182.913860,203.119461,203.119461
8,2022,60.5,1.6,58.9,288300,0.000204,204.301075,209.850850,209.850850
9,2023,61.8,7.5,54.3,282200,0.000192,192.416726,218.993622,218.993622

In [102]:
df = df.drop(columns=['Costs/Empee', 'Net_Incm/Empee', 'Revenue/Empee'])
df

/var/folders/rp/cc1qy8yj1qs4wb9pgxtgqxh40000gn/T/ipykernel_49545/1393307526.py:1: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  df = df.drop(columns=['Costs/Empee', 'Net_Incm/Empee', 'Revenue/Empee'])

   Year Revenue($bn) Net_Income($bn) Costs Employees Costs/Empee($k)
0  2014         92.7            12.0  80.7    379592      212.596683
1  2015         81.7            13.1  68.6    377757      181.598223
2  2016         79.9            11.8  68.1    380300      179.069156
3  2017         79.1             5.7  73.4    366600      200.218221
4  2018         79.5             8.7  70.8    350600      201.939532
5  2019         77.1             9.4  67.7    352600      192.002269
6  2020         73.6             5.5  68.1    345900      196.877710
7  2021         57.3             5.7  51.6    282100      182.913860
8  2022         60.5             1.6  58.9    288300      204.301075
9  2023         61.8             7.5  54.3    282200      192.416726

In [103]:
df.loc[:,'Revenue/Empee($k)'] = df.loc[:,'Revenue($bn)'].squeeze() / df.loc[:,'Employees'].squeeze() * pow(10, 6)

In [104]:
df

,Year,Revenue($bn),Net_Income($bn),Costs,Employees,Costs/Empee($k),Revenue/Empee($k)
0,2014,92.7,12.0,80.7,379592,212.596683,244.209572
1,2015,81.7,13.1,68.6,377757,181.598223,216.276601
2,2016,79.9,11.8,68.1,380300,179.069156,210.097292
3,2017,79.1,5.7,73.4,366600,200.218221,215.766503
4,2018,79.5,8.7,70.8,350600,201.939532,226.754136
5,2019,77.1,9.4,67.7,352600,192.002269,218.661373
6,2020,73.6,5.5,68.1,345900,196.877710,212.778260
7,2021,57.3,5.7,51.6,282100,182.913860,203.119461
8,2022,60.5,1.6,58.9,288300,204.301075,209.850850
9,2023,61.8,7.5,54.3,282200,192.416726,218.993622